 body {
    padding:25px;
    background :#c8e6ca;
    color:#009284;
    margin:0;
 }
    
     h1{
    font:75px Lucida Handwriting, cursive;
}

 p{
    font:40px/1.5 Consolas, monospace;
}

/* .my cv{    
    margin:0;
    padding:0;    
    border-radius: 15%;
    border:3px solid #009284;
}   */